
body {
    font-family:arial;
}


img {
    width:50px;
}

header {
    position: fixed;
    left:0px;
    top:0px;
    font-size:30px;
    height:70px;
    width:100%;
    background-color:white;
    border-bottom:solid black 1px;
    text-align: left;
    margin-right: 100px;
}



ul {
    list-style: none;
    font-size:20px;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li {
    display: inline;
    padding: 10px 40px;

}


.logo {
    width:400px;
    height:100px;
    float:left;

}


nav {
    width:700px;
    height:70px;
    float:left;
    text-align: center;
    padding:30px;

}



/*.content {
    width:100%;
    background-color:orange;
    text-align: center;

}*/

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img.jpg) no-repeat;
    background-size: cover; 
}

footer {
 /*   border-top:solid black 1px;*/
   height:50px;
   width:100%;
/*   background-color: #fff;*/
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
    font-size:40px;
}